$colorTransition: color 0.3s ease-in;
$borderColorTransition: border-color 0.3s ease-in;
$backgroundColorTransition: background-color 0.3s ease-in;

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

@import "dark";
@import "blue";
@import "green";
@import "pink";
@import "hacker";