// ----------------------
//     Dark Style
// ----------------------

$mainBackground: #2c2c2c;
$messengerNavbar: #252525;
$conversationOthers: #a8a8a8;
$conversationMyself: #0077e5;
$conversationOthersClick: #696969;
$searchBar: #5b5b5b;
$conversationText: #050505;
$white: #ffffff;
$white_30: rgba(255, 255, 255, 0.3);
$white_70: rgba(255, 255, 255, 0.7);
$messageInputField: rgba(95, 95, 95, 0.95);

// Main background
body.darkTh ._4sp8, body.darkTh ._4_j5, body.darkTh ._1ht1, body.darkTh ._5l37, body.darkTh ._4eby,
body.darkTh ._2y8_, body.darkTh ._5t4c, body.darkTh ._nd_ ._3058._15gf {
    background-color: $mainBackground !important;

    @include transition($backgroundColorTransition);
}

// Messenger Navbar
body.darkTh ._1ht1._1ht2, body.darkTh ._5742, body.darkTh ._36ic {
    background-color: $messengerNavbar !important;

    @include transition($backgroundColorTransition);
}

// Conversation - others
body.darkTh ._hh7:active, body.darkTh ._hh7, body.darkTh ._haj, body.darkTh ._5i_d {
    background-color: $conversationOthers !important;

    @include transition($backgroundColorTransition);
}

// Conversation - myself
body.darkTh ._nd_ ._hh7:active, body.darkTh ._nd_._-5k ._hh7, body.darkTh ._nd_ ._3058 {
    background-color: $conversationMyself !important;

    @include transition($backgroundColorTransition);
}

// Conversation others message click
body.darkTh ._hh7:active {
    background-color: $conversationOthersClick !important;

    @include transition($backgroundColorTransition);
}

// Search bar
body.darkTh ._5iwm ._58al, body.darkTh ._55sg ._kv1 input {
    background-color: $searchBar !important;

    @include transition($backgroundColorTransition);
}

// All texts
body.darkTh ._ih3, body.darkTh ._364g, body.darkTh ._3tl0, body.darkTh ._497p, body.darkTh ._1tqi,
body.darkTh ._5743, body.darkTh ._1ht7, ._3tkx, body.darkTh ._3tkz, body.darkTh ._kck, body.darkTh ._kcm,
body.darkTh ._kck ._58al, body.darkTh ._3x6u, body.darkTh ._4jgs, body.darkTh ._5rh4,
body.darkTh ._14-7 ._58ah ._58al, body.darkTh ._2y8z, body.darkTh ._10w4, body.darkTh ._4ebz,
body.darkTh ._209g, body.darkTh ._1ht6, body.darkTh ._4rpj,
body.darkTh ._2jnt, body.darkTh ._3eus, body.darkTh ._3oh-, body.darkTh ._2jnv, body.darkTh ._2jnx,
body.darkTh ._2jnz, body.darkTh ._2jnx body.darkTh ._58al, body.darkTh ._llq, body.darkTh ._36zg,
body.darkTh ._1n-e, body.darkTh ._4eb-, body.darkTh ._19jt, body.darkTh ._374c, body.darkTh ._1ps0,
body.darkTh ._1pr_, body.darkTh .__rm + .uiInputLabelLabel, body.darkTh ._58ak input {
    color: $conversationOthers !important;

    @include transition($colorTransition);
}

// Conversation text
body.darkTh ._hh7 ._3oh-, body.darkTh ._5rw4 {
    color: $conversationText !important;

    @include transition($colorTransition);
}

// Conversation text - myself
body.darkTh ._nd_ ._hh7 ._3oh- {
    color: $white !important;

    @include transition($colorTransition);
}

// Messenger navbar text
body.darkTh ._2v6o, body.darkTh ._1htf, body.darkTh ._3tky {
    color: $white_30 !important;

    @include transition($colorTransition);
}

// Type a message bar
body.darkTh ._1ht3 ._1htf, body.darkTh ._1ht3 ._1ht6, body.darkTh ._1ht3 ._1ht7, body.darkTh ._5rp8 ._45m_ {
    color: $white_70 !important;

    @include transition($colorTransition);
}

// Type a message input field
body.darkTh ._4rv3 {
    background-color: $messageInputField !important;

    @include transition($backgroundColorTransition);
}