// ----------------------
//     Dark Style
// ----------------------

$mainBackground: #2c2c2c;
$messengerNavbar: #252525;
$conversationOthers: #a8a8a8;
$conversationMyself: #0077e5;
$conversationOthersClick: #696969;
$searchBar: #808080;
$conversationText: #050505;
$white: #ffffff;
$white_30: rgba(255, 255, 255, 0.3);
$white_70: rgba(255, 255, 255, 0.7);
$messageInputField: rgba(95, 95, 95, 0.95);

body.darkTh {
    // Main background
    ._4sp8, ._4_j5, ._1ht1, ._5l37, ._4eby,
    ._2y8_, ._5t4c, ._nd_ ._3058._15gf {
        background-color: $mainBackground !important;

        @include transition($backgroundColorTransition);
    }

    // Messenger Navbar
    ._1ht1._1ht2, ._5742, ._36ic,
    ._5irm._7mkm {
        background-color: $messengerNavbar !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation - others
    ._hh7:active, ._hh7, ._haj, ._5i_d {
        background-color: $conversationOthers !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation - myself
    ._nd_ ._hh7:active, ._nd_._-5k ._hh7, ._nd_ ._3058 {
        background-color: $conversationMyself !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation others message click
    ._hh7:active {
        background-color: $conversationOthersClick !important;

        @include transition($backgroundColorTransition);
    }

    // Search bar
    ._5iwm ._58al, ._55sg ._kv1 input {
        background-color: $searchBar !important;

        @include transition($backgroundColorTransition);
    }

    // All texts
    ._ih3, ._364g, ._3tl0, ._497p, ._1tqi,
    ._5743, ._1ht7, ._3tkx, ._3tkz, ._kck, ._kcm,
    ._kck ._58al, ._3x6u, ._4jgs, ._5rh4,
    ._14-7 ._58ah ._58al, ._2y8z, ._10w4, ._4ebz,
    ._209g, ._1ht6, ._4rpj,
    ._2jnt, ._3eus, ._3oh-, ._2jnv, ._2jnx,
    ._2jnz, ._2jnx ._58al, ._llq, ._36zg,
    ._1n-e, ._4eb-, ._19jt, ._374c, ._1ps0,
    ._1pr_, .__rm + .uiInputLabelLabel {
        color: $conversationOthers !important;

        @include transition($colorTransition);
    }

    // Conversation text
    ._hh7 ._3oh-, ._5rw4 {
        color: $conversationText !important;

        @include transition($colorTransition);
    }

    // Conversation text - myself
    ._nd_ ._hh7 ._3oh- {
        color: $white !important;

        @include transition($colorTransition);
    }

    // Messenger navbar text
    ._2v6o, ._1htf, ._3tky {
        color: $white_30 !important;

        @include transition($colorTransition);
    }

    // Type a message bar
    ._1ht3 ._1htf, ._1ht3 ._1ht6, ._1ht3 ._1ht7, ._5rp8 ._45m_ {
        color: $white_70 !important;

        @include transition($colorTransition);
    }

    // Type a message input field
    ._4rv3 {
        background-color: $messageInputField !important;

        @include transition($backgroundColorTransition);
    }

    // Small font used in events
    ._haj, ._54aq {
        color: $mainBackground !important;

        @include transition($backgroundColorTransition);
    }

    ._5rp8 ._1mf {
        color: $white !important;
    }

    ._3szq, ._1lj0 {
        color: $white_70 !important;
    }

    ._1li_ a {
        color: $conversationMyself !important;
    }

    ._4g0h, ._3xcx, ._225b, ._364g, ._58ak input {
        color: $white_70 !important;
    }

    ._kmc._7kpg ._1p1t {
        color: rgba(255, 255, 255, 0.5) !important;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
    }

    ._6-xo {
        color: $white_70 !important;
    }
}