// ----------------------
//     Hacker Style
// ----------------------

$mainBackground: #000000;
$messengerNavbar: #000;
$conversationOthers: #000;
$conversationMyself: #0f0;
$conversationOthersClick: rgba(0, 255, 0, 0.5);
$searchBar: #0f0;
$conversationText: #0f0;
$black: #000;
$green: #0f0;
$white: #fff;
$white_30: rgba(255, 255, 255, 0.3);
$white_70: rgba(255, 255, 255, 0.7);
$messageInputField: #0f0;

body.hackerTh {
    // Main background
    ._4sp8, ._4_j5, ._1ht1, ._5l37, ._4eby,
    ._2y8_, ._5t4c, ._nd_ ._3058._15gf {
        background-color: $mainBackground !important;
        font-family: monospace;

        @include transition($backgroundColorTransition);
    }

    // Messenger Navbar
    ._5742, ._36ic {
        background-color: $messengerNavbar !important;

        @include transition($backgroundColorTransition);
    }

    ._1ht1._1ht2 {
        background-color: $green !important;

        @include transition($backgroundColorTransition);
    }

    //NAVBAR text
    ._3oh-, ._1tqi {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation - others
    ._hh7:active, ._haj, ._5i_d {
        background-color: $conversationOthers !important;

        @include transition($backgroundColorTransition);
    }

    ._hh7 {
        background-color: $black !important;

        @include transition($backgroundColorTransition);
    }

    ._hh7:active, ._-5k ._hh7 {
        border: 1px solid $green !important;

        @include transition($backgroundColorTransition);
    }

    ._29_7 ._3058._52mr, ._29_7 ._3058._52mr ._4br2, ._29_7 ._3058 ._52mr,
    ._29_7 ._3058._52mr,._29_7 ._3058._52mr ._mxz, ._29_7 ._3058 ._52mr {
        border: 1px solid $green !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation - myself
    ._nd_ ._hh7:active, ._nd_._-5k ._hh7, ._nd_ ._3058 {
        background-color: $conversationMyself !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation others message click
    ._hh7:active {
        background-color: $conversationOthersClick !important;

        @include transition($backgroundColorTransition);
    }

    // Search bar
    ._5iwm ._58al, ._55sg ._kv1 input {
        background-color: $searchBar !important;

        @include transition($backgroundColorTransition);
    }

    // All texts
    ._ih3, ._364g, ._3tl0, ._497p,
    ._5743, ._1ht7, ._3tkx, ._3tkz, ._kck, ._kcm,
    ._kck ._58al, ._4jgs, ._5rh4,
    ._14-7 ._58ah ._58al, ._2y8z, ._10w4,
    ._209g, ._4rpj,
    ._3eus, ._2jnx,
    ._2jnz, ._2jnx ._58al, ._llq, ._36zg,
    ._1n-e, ._4eb-, ._19jt, ._374c, ._1ps0,
    ._1pr_, .__rm + .uiInputLabelLabel, {
        color: $conversationOthers !important;

        @include transition($colorTransition);
    }

    // Sidebar Name. description active
    ._1ht2 ._1ht6, ._1ht2 ._1htf {
        color: $black !important;

        @include transition($colorTransition);
    }

    // // Sidebar Name. description
    ._1ht6, ._1htf {
        color: $green !important;

        @include transition($colorTransition);
    }

    // Conversation text
    ._hh7, ._5rw4 {
        color: $conversationText !important;

        @include transition($colorTransition);
    }

    // Conversation text - myself
    ._nd_ ._hh7 ._3oh- {
        color: $black !important;

        @include transition($colorTransition);
    }

    // Messenger navbar text
    ._2v6o, body.hackerTh, ._3tky {
        color: $green !important;

        @include transition($colorTransition);
    }

    ._2v6o, body.hackerTh, ._3tky {
        color: $green !important;

        @include transition($colorTransition);
    }

    ._1p1t {
        color: $white !important;

        @include transition($colorTransition);
    }

    ._5742, ._36ic {
        border-bottom: 1px solid $green !important;

        @include transition($colorTransition);
    }

    //BIG DIV MESSAGE INBOX DIVIDER
    ._1q5- {
        border-left: 1px solid $green !important;

        @include transition($colorTransition);
    }

    ._4_j5 {
        border-left: 1px solid $green !important;

        @include transition($colorTransition);
    }

    // Type a message bar
    ._1ht3, ._1ht3 ._1ht6, ._1ht3 ._1ht7 {
        color: $green !important;

        @include transition($colorTransition);
    }

    ._5rp8 ._45m_ {
        color: $green !important;

        @include transition($colorTransition);
    }

    // Type a message input field
    ._4rv3 {
        background-color: $black !important;
        border-top: 1px solid $green !important;

        @include transition($backgroundColorTransition);
    }

    ._1p1t {
        color: $green !important;
        opacity: 0.7;

        @include transition($colorTransition);
    }

    //Mute notification box
    ._3x6u {
        color: $green !important;

        @include transition($colorTransition);
    }

    //mute notification box text
    .__rm + .uiInputLabelLabel, ._58ak input {
        color: $black !important;

        @include transition($colorTransition);
    }

    ._2c9g ._4ebz {
        color: $green !important;

        @include transition($colorTransition);
    }

    ._4eby ._5ixy {
        color: $green !important;

        @include transition($colorTransition);
    }

    ._54ng {
        background-color: $black !important;

        @include transition($backgroundColorTransition);
    }

    //dropdown menu settings
    ._2i-c ._54nf ._54nh {
        color: $green !important;
    }

    ._2i-c ._54ne {
        background-color: $green !important;
    }

    ._2i-c ._54ne ._54nh {
        background-color: $green !important;
        color: $black !important;
    }

    //SETTINGS
    ._374c {
        color: $green !important;
    }

    ._2c9i ._4ebz {
        border-bottom: 1px solid $green !important;

        @include transition($backgroundColorTransition);
    }

    ._374b {
        border-bottom: 1px solid $green !important;

        @include transition($backgroundColorTransition);
    }

    ._19jt {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    ._3quh {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    ._374d a {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    ._1pr_ {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    //right Sidebar

    ._3tl0 {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    .uiScrollableAreaTrack .invisible_elem {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    ._2ds6 {
        color: $green !important;
        opacity: 0.7 !important;
    }

    //smiley emoticon
    ._hh7._2f5r, ._hh7:active._2f5r, ._-5k ._hh7._2f5r {
        background: none !important;
    }

    //delete
    ._hw2 ._53ij {
        border: 1px solid $green !important;
    }

    ._hw4 ._hw5 {
        color: $green !important;
    }

    ._4eb- {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    //name description
    ._36zg, ._1n-e, ._1n-e {
        color: $green !important;

        @include transition($backgroundColorTransition);
    }

    //
    ._hh7 a {
        color: $black;
        background-color: $green;
    }

    ._tih {
        background-color: $green;
    }

    ._3szq, ._1lj0 {
        color: $green !important;
    }

    ._5rp8 ._1mf {
        color: $green !important;
    }

    ._4g0h, ._3xcx, ._225b, ._364g {
        color: $green !important;
    }

    ._2jnv {
        color: $green !important;
    }
}