// ----------------------
//     Pink Style
// ----------------------

$pink: #ff6eed;
$lightPink: #ffb3f6;
$white: #ffffff;

body.pinkTh {
    // Main background
    ._4sp8, ._4_j5, ._1ht1, ._5l37, ._4eby,
    ._2y8_, ._5t4c, ._nd_ ._3058._15gf {
        background-color: $white !important;

        @include transition($backgroundColorTransition);
    }

    // Messenger Navbar
    ._1ht1._1ht2, ._5742, ._36ic {
        background-color: $lightPink !important;

        @include transition($backgroundColorTransition);
    }

    // Conversation - others
    ._hh7:active, ._hh7, ._haj, ._5i_d {
        background-color: $white !important;
        border: 1px solid $pink;

        @include transition($backgroundColorTransition);
    }

    // Conversation - myself
    ._nd_ ._hh7:active, ._nd_._-5k ._hh7, ._nd_ ._3058 {
        background-color: $pink !important;

        @include transition($backgroundColorTransition);
    }

    // Search bar
    ._5iwm ._58al, ._55sg ._kv1 input {
        background-color: $lightPink !important;

        @include transition($backgroundColorTransition);
    }
}